:root {
    --branco-principal: #FFFFFF;
    --cinza secundario: #








    font-family: var(--fonte--principal);
    font-size: 16px;
    font-weight: 400;
}

* { 
    margin: 0;
    padding: 0;
}





    
    